.main-page{
    max-inline-size: 700px;
    inline-size: 100%;
    margin-inline: auto;
}
.question-heading{
    margin-block-start: 40px;
    font-size: 2rem;
    color: grey;
}

.category{
    margin-block-start: 10px;
    margin-block-end: 40px;
    color: grey;
    font-weight: 500;
}