.container{
    position: relative;
}

.marks-values{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.marks-bar {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    inline-size: 100%;
    block-size: 20px;
    border: none;
    z-index: 5;
  }
  
  .marks-bar::-webkit-progress-bar {
    background-color: lightgray; 
  }
  
  .marks-bar::-webkit-progress-value {
    background-color: rgb(71, 71, 71);
  }
  
  .marks-bar::-moz-progress-bar {
    background-color: lightgray;
  }
  

.behind-bar {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    inline-size: 100%;
    block-size: 20px;
    border: none;
    z-index: 1;
  }
  
  .behind-bar::-webkit-progress-bar {
    background-color: lightgray; 
  }
  
  .behind-bar::-webkit-progress-value {
    background-color: rgb(26, 22, 22);
  }
  
  .behind-bar::-moz-progress-bar {
    background-color: lightgray;
  }
